doctype html
html
  head
    title Authorize Silex
    // login.css is inserted as a template to avoid having it in a web accessible folder
    // link(rel="stylesheet", href="/unifile-templates/login.css", type="text/css")
    style(type="text/css").
      #{css}
  body.all-text
    div.logo.logo-ftp
    div.main-container
      form.inner-container(action='/api/v1.0/ftp-auth-submit', method='post')
        if success
          script(type='text/javascript').
            window.onload=function(){window.close();};
          h1.title Ok, you can close this window now
        else
          h1.title Unifile would like access to your files and folders.
          if error
            label.error-text Invalid access codes
          div
            label Host:
            input.input-text(type='text', name='host' value="#{host || ''}")
          div
            label Port:
            input.input-text(type='text', name='port', value="#{port || 21}")
          div
            label Username:
            input.input-text(type='text', name='username' value="#{username || ''}")
          div
            label Password:
            input.input-text(type='password', name='password')
          div
            input.input-text(type='submit', value='Log In')
